/**
 * Backgrounds
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/backgrounds/color";
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.bg-foreground-dark-09 {
  background-color: rgba(func.get-color("foreground-dark"), 0.9);
}

.bg-background-light-15 {
  background-color: var(--background-light-15);
}

.bg-background-light-30 {
  background-color: rgba(func.get-color("background-light"), 0.3);
}

.bg-overlay::after {
  background-color: rgba(func.get-color("foreground-dark"), 0.5);
}

.bg-seamless::before {
  @extend %u-background-color-inherit;
  @extend %u-z-index--1;

  height: var(--m);
  transform: translateY(-50%);
}
