/**
 * Backgrounds
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/backgrounds/color";
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.bg-foreground-dark-09 {
  background-color: rgba(func.get-color("foreground-dark"), 0.9);
}

.bg-background-light-20 {
  background-color: rgba(func.get-color("background-light"), 0.2);
}

.bg-overlay::after {
  background-color: rgba(func.get-color("foreground-dark"), 0.5);
}

.bg-seamless::before {
  @extend %u-background-color-inherit;

  height: var(--4xl);
  transform: translateY(calc(-100% + var(--xs)));
  z-index: -2;
}

footer.bg-seamless::before {
  z-index: -3;
}
