/**
 * Base
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Fonts */

@font-face {
  font-family: Mont;
  src:
    url("../../../../../assets/public/fonts/mont-bold.woff2") format("woff2"),
    url("../../../../../assets/public/fonts/mont-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src:
    url("../../../../../assets/public/fonts/mont-extra-bold.woff2") format("woff2"),
    url("../../../../../assets/public/fonts/mont-extra-bold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("../../../../../assets/public/fonts/neue-haas-unica.woff2") format("woff2"),
    url("../../../../../assets/public/fonts/neue-haas-unica.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("../../../../../assets/public/fonts/neue-haas-unica-italic.woff2") format("woff2"),
    url("../../../../../assets/public/fonts/neue-haas-unica-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("../../../../../assets/public/fonts/neue-haas-unica-bold.woff2") format("woff2"),
    url("../../../../../assets/public/fonts/neue-haas-unica-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

/* General */

html {
  padding-left: 5%;
  padding-right: 5%;
}

svg {
  fill: currentcolor;
}

a {
  box-shadow: 0 0.125rem 0 0 currentColor;
}

ul,
ol {
  @extend %u-line-height-160-pc;
  @extend %u-letter-spacing-1-pc;

  font-size: var(--t-m);
  padding-left: var(--xs);
}

li:not(:last-child) {
  margin-bottom: var(--4xs);
}

.wp-block-table figcaption {
  @extend %u-text-align-left;

  padding: var(--3xs) 0;
  font-family: var(--font-family-secondary);
  font-size: var(--h3);
}

table {
  @extend %u-width-100-pc;

  border-collapse: collapse;
  border-spacing: 0;

  thead {
    @extend %u-text-align-left;
    @extend %u-line-height-130-pc;

    font-family: var(--font-family-secondary);
    color: var(--heading-color);
    font-size: var(--h4);
  }

  thead,
  tr:nth-child(even) {
    background: var(--bg-table);
  }

  td,
  th {
    padding: var(--3xs) var(--2xs);

    &:not(:first-child) {
      border-left: var(--border-width) solid var(--input-border);
    }
  }

  td {
    @extend %u-line-height-150-pc;
    @extend %u-letter-spacing-1-pc;

    font-size: var(--t-m);
  }
}

.wp-block {
  margin: var(--2xs) 0;
}
