/**
 * Components: nav
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;
@use "@alanizcreative/formation/src/components/nav";
@use "@alanizcreative/formation/src/components/nav/overflow";
@use "@alanizcreative/formation/src/components/nav/icon";
@use "@alanizcreative/formation/src/components/nav/icon/four";

/* Container */

.c-nav {
  --search-bg: var(--hero-bg);

  z-index: map.get(con.$z-index, "nav");

  [data-logo] {
    margin-right: var(--l);
  }
}

/* Link */

.c-nav__link {
  .c-nav__list &[data-depth="0"] {
    white-space: nowrap;
  }

  &::after {
    @extend %u-opacity-0;

    transform: translateY(100%) scaleX(0.9);
    transition: opacity var(--duration) var(--easing), transform var(--duration) var(--easing);
    height: func.calc-rem(3px);
    background: currentcolor;
    top: auto;
  }

  &:hover,
  &:active,
  &:focus,
  .current-menu-parent &,
  .current-menu-item & {
    &::after {
      @extend %u-opacity-1;

      transform: translateY(0) scaleX(1);
    }
  }
}

/* Button link */

.c-nav__cta {
  .current-menu-parent &,
  .current-menu-item & {
    &::before {
      border: func.calc-rem(2px) solid currentcolor;
      border-radius: inherit;
      margin: var(--5xs);
    }
  }

  [data-theme="foreground-dark"] .c-nav__list &,
  [data-theme="primary-dark"] .c-nav__list & {
    background-color: var(--background-light);
    color: var(--foreground-dark);
  }
}

/* Icon */

.c-nav__button {
  --icon-color: var(--heading-color);
  --outline-offset: var(--4xs);

  z-index: 2;

  [data-nav-open="true"] & {
    --icon-color: var(--foreground-dark);
    --outline-color: var(--foreground-dark);
  }
}

.c-nav__close {
  @extend %u-visibility-hidden;

  --p: var(--2xs);
  --o: (var(--logo-height) / 2) - (var(--sm) / 2);
  --t: calc(var(--p) + var(--o) + var(--wp-admin--admin-bar--height, 0rem));

  right: var(--container-padding);
  top: var(--t);

  @include mix.breakpoint-min("l") {
    --p: var(--xs);
  }
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
  background: var(--icon-color);
}

.c-nav-icon-label {
  color: var(--icon-color);
  font-size: 1rem;
  letter-spacing: 0.05em;

  [data-show] & {
    transform: translateY(15%);
  }
}

/* Mobile */

.c-nav-overflow {
  --search-bg: var(--primary-light);
  --prop: visibility, transform;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
  max-width: 20rem;
  transform: translateX(100%);

  .c-nav[data-open="true"] & {
    --delay: 10ms, 0ms;

    transform: translateX(0);
  }
}

.c-nav__overlay {
  --prop: visibility, opacity;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;

  @extend %u-opacity-0;

  .c-nav[data-open="true"] & {
    --delay: 10ms, 0ms;

    @extend %u-opacity-1;
  }
}

/* Search */

.c-nav-search__button {
  span {
    @extend %u-display-none;
  }

  &[aria-expanded="false"] span:first-child {
    @extend %u-display-flex;
  }

  &[aria-expanded="true"] span:last-child {
    @extend %u-display-flex;
  }

  .c-nav-overflow & {
    @extend %u-display-none;
  }
}

.c-nav-search__bar {
  background: var(--search-bg);

  .c-nav__list & {
    --prop: visibility, opacity;
    --duration: 0ms, 400ms;
    --delay: 400ms, 10ms;

    @extend %u-opacity-0;
    @extend %u-visibility-hidden;

    width: calc(100% - var(--m));
    padding: var(--5xs) 0;
  }

  .c-nav__list [data-open="true"] & {
    --delay: 10ms, 0ms;

    @extend %u-opacity-1;
    @extend %u-visibility-visible;
  }

  .c-nav-overflow & {
    position: static;
  }
}
