/**
 * Text: color
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/text/color";

/* Styles */

.t-light {
  --outline-color: var(--background-light);
  --text-color: #{rgba(func.get-color("background-base"), 0.8)};

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--background-light);
  }
}
