/**
 * Text: color
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/text/color";

/* Styles */

.t-light {
  --outline-color: var(--background-light);
  --heading-color: var(--background-light);
  --text-color: #{rgba(func.get-color("background-light"), 0.8)};
  --hr-color: #{rgba(func.get-color("background-light"), 0.3)};
  --link-color: var(--background-light);
  --placeholder-color: var(--background-light-60);
  --input-border: #{rgba(func.get-color("background-light"), 0.7)};
  --input-control-bg-checked: var(--background-light);
  --input-control-color-checked: var(--foreground-dark);
  --submit-bg: var(--background-light);
  --submit-color: var(--foreground-dark);
  --negative-color: var(--negative-light);
  --positive-color: var(--positive-light);
  --bg-result: #{rgba(func.get-color("background-light"), 0.05)};
  --invert-color: var(--foreground-dark);
  --bg-table: #{rgba(func.get-color("background-light"), 0.1)};

  color: var(--text-color);
}

.t-dark {
  --text-color: #{rgba(func.get-color("foreground-dark"), 0.95)};
  --input-border: #{rgba(func.get-color("foreground-dark"), 0.7)};

  color: var(--text-color);
}

.t-link {
  color: var(--link-color);
}

.t-link-current {
  --link-color: currentcolor;
}

.t-current {
  color: currentcolor;
}
