/**
 * Text: color
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/text/color";

/* Styles */

.t-light {
  --outline-color: var(--background-light);
  --heading-color: var(--background-light);
  --text-color: #{rgba(func.get-color("background-base"), 0.8)};
  --link-color: var(--background-light);
  --input-bg: var(--background-light-15);

  color: var(--text-color);
}

.t-link-current {
  --link-color: currentColor;
}
