/**
 * Config: placeholders
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Styles */

%u-transition-border-radius {
  border-radius: var(--border-radius-xl);
  transition: border-radius 600ms var(--cubic), transform 600ms var(--cubic);

  &:hover {
    border-radius: var(--border-radius-s);
    transform: scale(1.04);
  }
}

%u-button {
  --p: var(--2-5xs) var(--xs);
  --sz: var(--h5);

  @extend %u-font-family-secondary;
  @extend %u-font-weight-bold;
  @extend %u-line-height-130-pc;
  @extend %u-display-inline-flex;
  @extend %u-justify-content-center;
  @extend %u-transition-border-radius;
  @extend %u-overflow-hidden;
  @extend %u-position-relative;

  padding: var(--p);
  font-size: var(--sz);
}

%u-button-secondary {
  color: currentColor;
  box-shadow: inset 0 0 0 var(--border-width) currentColor;
}

%u-button-small {
  --p: var(--3xs) var(--1-5xs);
  --sz: var(--h6);
}

%u-button-large {
  --p: var(--2xs) var(--s);
  --sz: var(--h4);

  border-radius: var(--border-radius-2xl);
}
