/**
 * Objects - collapsible
 */

/* Imports */

@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/objects/collapsible";

/* Styles */

.o-collapsible[data-expanded="true"] {
  background-color: var(--primary-tint-15);
}

.o-collapsible__toggle {
  --outline-offset: -1rem;
}

.o-collapsible__icon {
  .o-collapsible[data-expanded="true"] & {
    transform: rotate(180deg);
  }
}
