/**
 * Objects: form
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Form */

.o-form {
  --label: var(--h4);
  --label-small: var(--h5);
  --input: var(--t-m);
  --border-radius: var(--border-radius-s);
  --arrow-width: var(--xs);
  --focus-width: 0.1875rem;

  fieldset {
    @extend %u-width-100-pc;
  }

  label {
    @extend %u-display-block;
  }

  label,
  legend {
    > span:first-child {
      @extend %u-font-family-secondary;
      @extend %u-line-height-130-pc;

      font-size: var(--label);
      color: var(--heading-color);
    }
  }

  label:first-child,
  legend:first-child {
    margin-bottom: var(--3xs);
  }

  select {
    padding-right: var(--m);
  }

  input[type="search"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    --color: transparent;

    @extend %u-width-100-pc;
    @extend %u-letter-spacing-1-pc;
    @extend %u-line-height-160-pc;

    border-radius: var(--border-radius);
    background: var(--input-bg);
    padding: var(--input-padding);
    font-size: var(--input);
    color: var(--heading-color);
    box-shadow: inset 0 0 0 var(--focus-width) var(--color);
    transition: box-shadow var(--duration) var(--easing);

    &:focus {
      --outline-width: 0;
      --color: var(--outline-color);
    }

    &[aria-invalid="true"] {
      --color: var(--negative-color);

      &:focus {
        --color: var(--outline-color);
      }
    }
  }

  &:not([role="search"]) [type="submit"] {
    background: var(--submit-bg);
    color: var(--submit-color);
  }

  [data-asi] {
    @extend %u-display-none;
  }

  ::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  }
}

.o-form-small {
  --label: var(--h5);
  --label-small: var(--h6);
  --input-padding: var(--3-5xs) var(--xs);
  --arrow-width: var(--2xs);
}

.o-form-round {
  --border-radius: var(--border-radius-xl);
}

/* Group */

.o-form__group {
  --input: var(--t);
  --input-padding: var(--4xs) var(--2xs);
  --arrow-width: var(--2xs);
  --label-width: auto;

  [data-label] {
    --label: var(--label-small);

    width: var(--label-width);
  }
}

.o-form__group, 
.o-form-s {
  select {
    padding-right: var(--sm);
  }
}

/* Required */

legend[data-required] > span:first-child::after,
[data-label][data-required] > span:first-child::after,
[data-required] > [data-label] > span:first-child::after {
  content: " *";
  color: var(--negative-color);
}

/* Controls */

.o-form__field {
  &[data-type="radio"],
  &[data-type="radio-select"],
  &[data-type="radio-text"],
  &[data-type="checkbox"] {
    label {
      @extend %u-display-inline-flex;
    }

    [data-label] {
      @extend %u-font-family-secondary;
      @extend %u-line-height-130-pc;

      padding: var(--5xs) 0;
      color: var(--heading-color);
      margin-left: var(--3xs);
      font-size: var(--label);
    }
  }

  &[data-type="radio-select"],
  &[data-type="radio-text"] {
    .o-form__field {
      @include mix.breakpoint-min-max("0", "m-1") {
        margin-left: func.calc-rem(55px);
        margin-top: func.calc-rem(-15px);
      }
    }
  }

  & > [data-type="select"] {
    @extend %u-position-relative;
  }
}

[data-select-arrow] {
  @extend %u-position-absolute;
  @extend %u-position-vertical-center;
  @extend %u-right-0;
  @extend %u-background-size-cover;
  @extend %u-background-no-repeat;

  background-image: url("assets/public/svg/arrow-down.svg");
  margin-right: var(--2xs);
  width: var(--arrow-width);
  height: var(--arrow-width);

  select:disabled ~ & {
    opacity: 0.5;
  }
}

[data-control] {
  --border-radius: var(--border-radius-l);
  --color: transparent;

  @extend %u-flex-shrink-0;
  @extend %u-position-relative;

  width: var(--s);
  height: var(--s);
  background: var(--input-bg);
  border-radius: var(--border-radius);
  outline: var(--focus-width) solid var(--color);
  outline-offset: var(--focus-width) ;
  transition: outline 100ms var(--easing);
  order: -1;

  &[data-type="checkbox"] {
    --border-radius: var(--border-radius-xs);
  }

  &[data-type="checkbox"],
  &[data-type|="radio"] {
    &::after {
      @extend %u-content-empty;
      @extend %u-position-absolute;
      @extend %u-left-0;
      @extend %u-top-0;
      @extend %u-right-0;
      @extend %u-bottom-0;
      @extend %u-margin-auto;
      @extend %u-opacity-0;
    }
  }

  &[data-type="checkbox"]::after {
    @extend %u-background-size-cover;
    @extend %u-background-no-repeat;

    background-image: url("assets/public/svg/checkmark.svg");

    .t-light & {
      background-image: url("assets/public/svg/checkmark-dark.svg");
    }
  }

  &[data-type|="radio"]::after {
    @extend %u-border-radius-100-pc;

    background: var(--input-control-color-checked);
    width: var(--3xs);
    height: var(--3xs);
  }

  input:checked ~ label & {
    background: var(--input-control-bg-checked);

    &::after {
      @extend %u-opacity-1;
    }
  }

  input:focus ~ label &,
  input[aria-invalid="true"]:focus ~ label & {
    --color: var(--outline-color);
  }

  input[aria-invalid="true"] ~ label & {
    --color: var(--negative-color);
  }
}

/* Result */

.o-form__negative,
.o-form__error {
  --heading-color: var(--negative-color);

  color: var(--negative-color);
}

.o-form__positive {
  --heading-color: var(--positive-color);

  color: var(--positive-color);
}

.o-form__negative,
.o-form__positive {
  box-shadow: inset 0.3125rem 0 0 0 currentcolor;
  border-top-right-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  background: var(--bg-result);

  [tabindex="-1"]:focus & {
    box-shadow: inset 0 0 0 0.3125rem currentcolor;
  }
}
