/**
 * Objects: slider
 */

/* Imports */

@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-slider {
  --height: auto;
  --slide-width: 100%;
  --slide-width-s: 100%;
  --slide-width-m: 100%;
  --slide-width-xl: 100%;
  --slide-gap: var(--xs);

  /* Group flex */

  --vis-items: 1;
  --vis-items-s: 1;
  --vis-items-m: 1;
  --vis-items-xl: 1;

  &[data-s="1-2"] {
    --slide-width-s: 50%;

    &[data-type="group-flex"] {
      --slide-width-s: 200%;
      --vis-items-s: 2;
    }
  }

  &[data-m="1-2"] {
    --slide-width-m: 50%;

    &[data-type="group-flex"] {
      --slide-width-m: 200%;
      --vis-items-m: 2;
    }
  }

  &[data-xl="1-2"] {
    --slide-width-xl: 50%;

    &[data-type="group-flex"] {
      --slide-width-xl: 200%;
      --vis-items-xl: 2;
    }
  }

  &[data-s="1-3"] {
    --slide-width-s: 33.3333%;

    &[data-type="group-flex"] {
      --slide-width-s: 300%;
      --vis-items-s: 3;
    }
  }

  &[data-m="1-3"] {
    --slide-width-m: 33.3333%;

    &[data-type="group-flex"] {
      --slide-width-m: 300%;
      --vis-items-m: 3;
    }
  }

  &[data-xl="1-3"] {
    --slide-width-xl: 33.3333%;

    &[data-type="group-flex"] {
      --slide-width-xl: 300%;
      --vis-items-xl: 3;
    }
  }

  &[data-s="1-4"] {
    --slide-width-s: 25%;

    &[data-type="group-flex"] {
      --slide-width-s: 400%;
      --vis-items-s: 4;
    }
  }

  &[data-m="1-4"] {
    --slide-width-m: 25%;

    &[data-type="group-flex"] {
      --slide-width-m: 400%;
      --vis-items-m: 4;
    }
  }

  &[data-xl="1-4"] {
    --slide-width-xl: 25%;

    &[data-type="group-flex"] {
      --slide-width-xl: 400%;
      --vis-items-xl: 4;
    }
  }

  @include mix.breakpoint-min("s") {
    --slide-width: var(--slide-width-s);
    --vis-items: var(--vis-items-s);
  }

  @include mix.breakpoint-min("m") {
    --slide-width: var(--slide-width-m);
    --vis-items: var(--vis-items-m);
  }

  @include mix.breakpoint-min("l") {
    --slide-gap: var(--s);

    &[data-gap-l="m"] {
      --slide-gap: var(--m);
    }
  }

  @include mix.breakpoint-min("xl") {
    --slide-width: var(--slide-width-xl);
    --vis-items: var(--vis-items-xl);
  }

  @include mix.breakpoint-min("container-no-padding") {
    max-width: var(--container);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.o-slider__main {
  --snap-type: x mandatory;

  height: calc(var(--height) - var(--s));
}

.o-slider__track {
  padding-left: var(--slide-gap);
  scroll-snap-type: var(--snap-type);
  -webkit-overflow-scrolling: touch;

  @include mix.breakpoint-min("container-no-padding") {
    margin-right: calc(var(--slide-gap) * -1);
  }
}

.o-slider__item {
  --width: calc(var(--slide-width) - var(--container-padding));

  scroll-snap-align: start;
}

.o-slider__item,
.o-slider__group {
  width: var(--width);
}

.o-slider__group {
  --trans-x: var(--container-padding) - var(--gap-margin);

  [data-type="group-flex"] & {
    --length: var(--l);
    --multiplier: var(--length) / var(--vis-items);
    --width: calc(100% * var(--multiplier) - (var(--container-padding) * (var(--multiplier) * 2)));

    @include mix.breakpoint-min("s") {
      --length: var(--l-s);
    }

    @include mix.breakpoint-min("m") {
      --length: var(--l-m);
    }

    @include mix.breakpoint-min("xl") {
      --length: var(--l-xl);
    }
  }

  [data-type="group"] & {
    --width: calc(100% - var(--container-padding) * 2);

    scroll-snap-align: start;
  }

  @include mix.breakpoint-min("container-no-padding") {
    --trans-x: var(--gap-margin) * -1;

    [data-type="group"] & {
      --width: 100%;
    }

    [data-type="group-flex"] & {
      --width: calc(100% * var(--multiplier));
    }
  }
}

.o-slider__offset {
  padding: 0 0 0 calc(var(--container-padding) + (var(--container-padding) - var(--gap-margin)));

  @include mix.breakpoint-min("container-no-padding") {
    padding: 0;
  }
}

.o-slider__inner {
  [data-type="group"] & {
    --inner-width: var(--slide-width);
  }

  [data-type="group-flex"] & {
    --inner-width: calc((1 / var(--multiplier)) * var(--slide-width));

    scroll-snap-align: start;
  }

  width: var(--inner-width);
}

.o-slider__trans {
  transform: translateX(calc(var(--trans-x)));
}

.o-slider__focus {
  &::before {
    @extend %u-opacity-0;

    border: var(--outline-width) solid var(--outline-color);
    top: var(--gap-margin);
    left: var(--gap-margin);

    [data-type="group-flex"] & {
      transform: translateX(calc(var(--trans-x)));
    }
  }

  [role="tabpanel"]:focus &::before {
    @extend %u-opacity-1;
  }
}

.o-slider__sep::before {
  @extend %u-content-empty;
  @extend %u-display-block;

  border-left: 0.0625rem solid var(--heading-color);
  padding-left: var(--gap-margin);
  opacity: 0.2;
}

.o-slider__tabs {
  --margin: var(--4xs);

  margin-left: calc(var(--margin) * -1);

  @include mix.breakpoint-min("l") {
    --margin: var(--2xs);
  }
}

.o-slider__nav {
  color: var(--heading-color);
}

.o-slider__tab {
  margin-left: var(--margin);

  span {
    width: var(--3xs);
    height: var(--3xs);
  }

  &[aria-selected="false"] span {
    opacity: 0.65;
  }

  &[aria-selected="true"] span {
    @extend %u-opacity-1;

    background: currentcolor;
  }
}

.o-slider__prev,
.o-slider__next {
  @include mix.breakpoint-min("2xl") {
    top: calc((var(--height) - var(--s)) / 2);
    display: block;
  }
}

.o-slider__prev {
  transform: translate(-100%, -50%);
}

.o-slider__next {
  transform: translate(100%, -50%);
}
