/**
 * Base: focus
 */

/* Imports */

@use "@alanizcreative/formation/src/base/focus";

/* Styles */

.outline-snug {
  --outline-offset: 0;
}

.outline-tight {
  --outline-offset: -0.25rem;
}

body .outline-none:focus {
  outline: none
}

body:not([data-using-mouse]) input:focus ~ label .o-form__control {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}
