/**
 * Base: fonts
 */

@font-face {
  font-family: Mont;
  src:
    url("Fonts/70562c10-d8ab-42a5-888d-5c0e73ac7245.woff2") format("woff2"),
    url("Fonts/ea1751cf-feea-4af3-a294-c334399f3dac.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: Mont;
  src:
    url("Fonts/c49a6000-0e89-4b7c-948d-de48c656992f.woff2") format("woff2"),
    url("Fonts/6ed58f7a-09d9-4e11-970b-4e8bf52fd336.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("Fonts/c4ca5c2b-863d-450e-8df2-6cf8d40a6d9b.woff2") format("woff2"),
    url("Fonts/13662e2c-207f-4adf-b653-087bed4598fa.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("Fonts/ecb4f83b-11b2-4c0d-900d-473828fa4640.woff2") format("woff2"),
    url("Fonts/91c6c383-00f9-4035-8ac6-8078da3b821e.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("Fonts/61c0e2e9-80b6-4ddf-bc9b-4de2bf4eb427.woff2") format("woff2"),
    url("Fonts/e57f85d3-142e-4bcd-9c37-aecee01d5eed.woff") format("woff");
  font-weight: 700;
}
