/**
 * Base - fonts
 */

@font-face {
  font-family: Mont;
  src:
    url("assets/public/fonts/mont-bold.woff2") format("woff2"),
    url("assets/public/fonts/mont-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src:
    url("assets/public/fonts/mont-extra-bold.woff2") format("woff2"),
    url("assets/public/fonts/mont-extra-bold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("assets/public/fonts/neue-haas-unica.woff2") format("woff2"),
    url("assets/public/fonts/neue-haas-unica.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("assets/public/fonts/neue-haas-unica-italic.woff2") format("woff2"),
    url("assets/public/fonts/neue-haas-unica-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("assets/public/fonts/neue-haas-unica-bold.woff2") format("woff2"),
    url("assets/public/fonts/neue-haas-unica-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
