/**
 * Base
 */

/* Imports */

@use "@alanizcreative/formation/src/base/mixins" as mix;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Root */

:root {
  @include mix.set-root;

  --scrollbar-width: 0rem;
  --background-light-15: #{rgba(func.get-color("background-light"), 0.15)};
  --text-color: #{rgba(func.get-color("foreground-dark"), 0.8)};
  --heading-color: var(--foreground-dark);
  --link-color: var(--primary-dark);
  --cubic: cubic-bezier(0.76, 0, 0.24, 1);
  --underline: #{func.calc-rem(1px)};
  --input-bg: var(--background-base); 
  --input-padding: var(--2xs) var(--xs);
  --submit-bg: var(--foreground-dark);
  --submit-color: var(--background-light);
  --negative-color: var(--negative-dark);
  --positive-color: var(--positive-dark);
  --bg-result: var(--background-base);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  @extend %u-font-weight-normal;
  @extend %u-font-family-primary;

  color: var(--text-color);
}

a {
  color: var(--link-color);
}

p {
  color: var(--text-color);

  &:empty {
    @extend %u-display-none;
  }
}
