/**
 * Base
 */

/* Imports */

@use "../config/mixins" as m;
@use "@alanizcreative/formation/src/base/mixins" as mix;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mixi;

/* Root */

:root {
  @include mix.set-root;
  @include m.set-text;

  --background-light-35: #{rgba(func.get-color("background-light"), 0.35)};
  --background-light-60: #{rgba(func.get-color("background-light"), 0.6)};
  --primary-tint-15: #{rgba(func.get-color("primary-tint"), 0.15)};
  --text-color: #{rgba(func.get-color("foreground-dark"), 0.8)};
  --hr-color: #{rgba(func.get-color("foreground-dark"), 0.3)};
  --heading-color: var(--foreground-dark);
  --link-color: var(--primary-dark);
  --cubic: cubic-bezier(0.76, 0, 0.24, 1);
  --underline: #{func.calc-rem(1px)};
  --input-border: #{rgba(func.get-color("foreground-dark"), 0.5)};
  --input-padding: var(--2xs) var(--xs);
  --input-control-bg-checked: var(--primary-dark);
  --input-control-color-checked: var(--background-light);
  --placeholder-color: var(--text-color);
  --submit-bg: var(--foreground-dark);
  --submit-color: var(--background-light);
  --negative-color: var(--negative-dark);
  --positive-color: var(--positive-dark);
  --bg-result: var(--background-base);
  --invert-color: var(--background-light);
  --bg-table: var(--background-base);
  --scrollbar-width: 0rem;
  --external: var(--2xs);
}

html {
  scroll-behavior: smooth;

  @include mixi.fluid-size(
    --logo-height,
    func.calc-rem(63.31px) func.calc-rem(100.25px),
    "s" "xl"
  );
}

html,
body {
  @extend %u-font-weight-normal;
  @extend %u-font-family-primary;

  color: var(--text-color);
}

a {
  color: var(--link-color);

  & [data-external] {
    width: var(--external);
    height: var(--external);
  }
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin-bottom: var(--xs);

  &:last-child {
    margin-bottom: 0;
  }
}

p:empty {
  @extend %u-display-none;
}

*:disabled,
*[aria-disabled="true"],
input[type="radio"]:disabled ~ label [data-form-control],
input[type="checkbox"]:disabled ~ label [data-form-control] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

blockquote[data-quote] {
  &::before {
    @extend %u-content-empty;
    @extend %u-display-block;
    @extend %u-background-size-cover;
    @extend %u-background-no-repeat;

    background-image: url("assets/public/svg/quote-dark.svg");
    width: var(--s);
    height: var(--xs);

    .t-light & {
      background-image: url("assets/public/svg/quote.svg");
    }
  }
}

main {
  min-height: calc(100vh - var(--logo-height) - var(--m));

  &::before {
    @extend %u-background-color-background-light;

    border-radius: var(--xs);
    z-index: -2;
  }
}

hr {
  height: var(--border-width);
  background: var(--hr-color);
  margin: var(--s) 0;
  border: 0;

  @include mixi.breakpoint-min("m") {
    margin: var(--m) 0;
  }
}
